.portfolio-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 90vw;
  margin: 0 auto;
}

.portfolio-card {
  background-color: var(--light-theme-bg-color);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  color: var(--light-theme-text-color);
  min-width: 250px;
  cursor: pointer;
}

.portfolio-card img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

body.dark-mode .portfolio-card {
  background-color: var(--dark-theme-bg-color);
  border: 1px solid #555;
  color: var(--dark-theme-text-color);
}

.portfolio-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Collapsibility styles for mobile */
.card-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.toggle-arrow {
  margin-left: 10px;
  user-select: none;
}

.card-expanded .card-content {
  max-height: 80vh;
}

@media screen and (min-width: 1000px) {
  .portfolio-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio-card img {
    max-width: 100%;
  }

  .toggle-arrow {
    display: none;
  }

  /* Reset the collapsibility on desktop to always show content */
  .card-content {
    max-height: none;
  }
}
