nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-link,
.nav-link-right {
  cursor: pointer;
  margin: 0 15px;
}

.nav-link:hover,
.nav-link-right:hover {
  color: #007bff;
}

.active {
  font-weight: bold;
  color: #333;
}

.icon-links {
  display: flex;
  gap: 15px;
}

.fa-icon {
  font-size: 24px;
  cursor: pointer;
  transition:
    color 0.3s,
    transform 0.3s;
}

.fa-icon:hover {
  transform: scale(1.5);
}

.nav-icon {
  font-size: 24px;
  color: black;
  margin-left: 20px;
  cursor: pointer;
  transition:
    color 0.3s,
    transform 0.3s;
}

.nav-icon:hover {
  transform: scale(1.5);
}

.nav-icon.github:hover {
  color: #6e5494;
}

.nav-icon.linkedin:hover {
  color: #0077b5;
}

.nav-icon.pdf:hover {
  color: red;
}

.toggle-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  justify-content: space-between;
}

.toggle-wrapper {
  position: relative;
  z-index: 1;
  width: 60px;
  height: 30px;
  display: inline-block;
  background-color: #678da2;
  border-radius: 15px;
}

.toggle-label {
  width: 60px;
  height: 30px;
  background-color: #ddd;
  border-radius: 15px;
  opacity: 1;
  visibility: visible;
  z-index: 10;
  border: none;
}

.toggle-switch {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-input {
  display: none;
}

.toggle-input:checked + .toggle-label .toggle-switch {
  transform: translateX(28px);
}

.toggle-emoji {
  font-size: 20px;
  transition: font-size 0.3s;
}

.toggle-input:not(:checked) ~ .light-emoji {
  font-size: 30px;
}

.toggle-input:checked ~ .dark-emoji {
  font-size: 30px;
}

.enlarged {
  transform: scale(1.5);
}
