.site-container {
  text-align: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.main-header {
  font-family: "Arial", sans-serif;
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-link {
  color: var(--link-color);
}
